<% flash.each do |key, value| %>
  <div class="alert alert-primary alert-dismissible fade show text-center" role="alert">
    <%= value %>
  <% end %>
</div>

<%# key is the notice & alert at post_controller.rb && value is the message %>
